.header {
  height: max-content;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;

  .content {
    // background-color: rgb(106, 145, 106);
    display: flex;
    justify-content: flex-end;
    nav {
      ul {
        height: min-content;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        li {
          .link {
            position: relative;
            display: block;

            .nameLink {
              position: absolute;
              bottom: 8px;
              left: 35%;
              font-weight: 600;
              color: rgb(61, 61, 61);
              font-size: clamp(12px, 16px, 18px);

              @media (max-width: 480px) {
                bottom: 5px;
              }
            }

            .pictureFasade {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}
