html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-image: url("../../public/img/svg/Tiles6.svg");
  background-repeat: repeat;

  @media (max-width: 680px) {
    background-image: url("../../public/img/svg/TilesBackgroundSmall.svg");
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
